.carousel {
    height: 20vh;
    width: 80vw;
    position: absolute;
    margin: 0 auto;
    top: 15%;
    left: 10%;
    z-index: 1;
}

.carousel-item {
    color: white
}

.brand-image {   
    max-height: 20vh;
    min-height: 20vh;
    object-fit: contain;
    vertical-align: middle; 

}

figure {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 0;
    width: 25vw;
    font-size: 16px;
  }
  
  figcaption {
    text-align: center;
    margin: 10px auto;
  }

  

.carousel-control-prev {
    margin-left: -10%;
}

.carousel-control-next {
    margin-right: -10%;
}

@media (max-width: 500px) {
    .carousel-inner .carousel-item > figure {
        display: none;
    }
    .carousel-inner .carousel-item > figure:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(33%);
    }
    
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-33%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
  transform: translateX(0);
}

