body {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
}

/* Navbar */
.navbar {
  background-color: #707171;
  height: 6vh;
  font-size: 2vh;
  letter-spacing: 2px;
}

.navbar li a {
    display: block;
    
}

.logo {
    height: 7vh;
    width: auto;
    margin-left: 50px;
}
 
.icon {
    height: 4vh;
    width: auto;
}

.nav-right {
    text-align: right;
    margin-right: 50px;
}

.btn-outline {
    border: none;
}

.btn-outline:visited, .btn-outline:hover, .btn-outline:active {
    background-color: #464d55;
}

/* Video */
.fullscreenVideo {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    filter: brightness(0.5);
    z-index: -1;
    position: absolute;
}

.main-screen {
    height: 100vh;
}

.text-footer{
    width: 100vw;
}

/* Signification */
.caption {
    position: absolute;
    bottom: 1%;
    color: rgba(255, 255, 255, .55);
    text-align: center;
    z-index: 1;
    font-size: 16px;
}

/* Search form */
.container-for-search-form {
    position: absolute;
    width: 80vw;
    bottom: 30%;
    text-align: center;
    margin: 0 10vw;
    color: rgba(255, 255, 255, .55);
    font-style: bold;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color:#32393e;
    color: rgba(255, 255, 255, .55);
    border-bottom: none;
    border-color: rgba(255, 255, 255, .55);
}

.nav-link.active {
    background-color:#32393e;
    color: rgba(255, 255, 255, .55);
    border-color: rgba(255, 255, 255, .55);
}

.tab-content {
    background-color: #32393e;
    padding: 1vh 0;
    border-left: solid 1px;
    border-right: solid 1px;
    border-bottom: solid 1px;
    padding: 1vh 0;
    border-radius: 0 0 5px 5px;

}

label {
    font-size: 2vh;
}

.brands {
    margin: 5px 20px 5px 5px;
    background-color: white;
    height: 4vh;
    text-align: left;
}
  
#model {
    margin: 5px 20px 5px 5px;
    background-color: white;
    text-align: left;
    cursor: auto;
    height: 4vh;
}

.datefield-year {
    margin: 2px 20px 2px 5px;
    padding: 0;
    background-color: white;
    text-align: right;
    height: 4vh;
}

.price {
    margin: 5px 20px 5px 5px;
    background-color: white;
    text-align: right;
    height: 4vh;
    padding: 0;
}

.search-submit {
    background-color:#32393e;
    color: rgba(255, 255, 255, .55);
    border-color: rgba(255, 255, 255, .55);
    
} 

.search-submit:hover {
    color: white;
}




#car-list {
    border: solid 1px;
    margin: 2vw;
    border-radius: 5px;
    border-color: #464d55;
    font-size: 2vh;
    box-shadow: 8px 8px 24px 0px rgba(70, 77, 85, 1);
}




.car-features-list-image {
    height: 4vh;
    width: auto;
}

img {
    display: inline-block;
    float: left;
}

.car-item {
    margin: 1vw;
}

.car-image {
    height: auto;
    width:30vw
}