html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
}

/* Navbar */
.navbar {
  background-color: #707171;
  height: 64px;
  font-size: 20px;
  letter-spacing: 2px;
  font-style: bold;
}

.navbar-collapse {
    background-color: #707171;
}

.navbar li a {
    display: block;
}

.logo {
    height: 64px;
    width: auto;
    margin-left: 50px;
}

.icon {
    height: 32px;
    width: auto;
    margin-top: 0;
    padding-top: 0;
}

.nav-right {
    text-align: right;
    margin-right: 50px;
}

a.btn {
    padding-top: 8px;
}

.btn {
    height: 48px;
    margin: 0 auto;
    padding: 0 auto;
}

.btn-outline {
    border: none;
}

.btn-outline:visited, .btn-outline:hover, .btn-outline:active {
    background-color: #464d55;
}

/* Video */
.fullscreenVideo {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    filter: brightness(0.5);
    z-index: -1;
    position: absolute;
}

.main-screen {
    height: 100vh;
}

.text-footer{
    width: 100vw;
}

/* Signification */
.caption {
    position: absolute;
    bottom: 1%;
    color: rgba(255, 255, 255, .55);
    text-align: center;
    z-index: 1;
    font-size: 16px;
}

/* Search form */
.container-for-search-form {
    position: absolute;
    width: 80vw;
    bottom: 20%;
    text-align: center;
    margin: 0 10vw;
    color: rgba(255, 255, 255, .55);
    font-style: bold;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color:#32393e;
    color: rgba(255, 255, 255, .55);
    border-bottom: none;
    border-color: rgba(255, 255, 255, .55);
    font-size: 20px;
}

.nav-link.active {
    background-color:#32393e;
    color: rgba(255, 255, 255, .55);
    border-color: rgba(255, 255, 255, .55);
}

.tab-content {
    background-color: #32393e;
    padding: 1vh 0;
    border-left: solid 1px;
    border-right: solid 1px;
    border-bottom: solid 1px;
    border-radius: 0 0 5px 5px;

}

label {
    font-size: 20px;
}

.brands {
    margin: 5px 20px 5px 5px;
    background-color: white;
    height: 32px;
    text-align: left;
    font-size: 20px;
}

#model {
    margin: 5px 20px 5px 5px;
    background-color: white;
    text-align: left;
    cursor: auto;
    height: 32px;
    font-size: 20px;
}

.datefield-year {
    margin: 5px 20px 5px 5px;
    padding: 0;
    background-color: white;
    text-align: right;
    height: 32px;
    font-size: 20px;
}

.price {
    margin: 5px 20px 5px 5px;
    padding: 0;
    background-color: white;
    text-align: right;
    height: 32px;
    font-size: 20px;
}

.search-submit {
    background-color:#32393e;
    color: rgba(255, 255, 255, .55);
    border-color: rgba(255, 255, 255, .55);
    height: 40px;
    font-size: 20px;
    margin: 6px auto;
    padding: 0 auto;
}

.search-submit:hover {
    color: white;
}

form div {
    display: inline;
}

/* Car list */
#car-list {
    display: none;
}

.car-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.car-box {
    box-shadow: 0px 0px 19px -8px rgba(50, 57, 62, 1);
    margin: 20px;
    padding: 0;
}

.car-image-div {
    padding: 0;
}

.car-item {
    font-size: 32px;
}

.car-feature-list {
    list-style: none;
}

.car-feature img {
    height: 32px;
    width: auto;
    margin: 5px 30px 5px 100px;
}

.year, .odometer, .power {
    display: inline;
}

.price2 {
    font-size: 32px;
    font-style: italic;
    float: right;
}

/* Form */
.chosen-car {
    box-shadow: 0px 0px 19px -8px rgba(50, 57, 62, 1);
    margin: 2vw;
    padding: 0px;
}

.div-chosen-car-image {
    padding: 0;
}

.chosen-car-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.accessories {
    margin-top: 48px;
}

h3 {
    font-size: 32px;
}

#label-for-feature {
    display: block;
    margin: 16px auto;
}

.div-accessories {
    display: block;
    text-align: center;
    margin: 16px auto;
    padding: 0 auto;
}

#faetures-for-add {
    width: 350px;
}

#feature-added {
    width: 350px;
}

.add-delete {
    border: solid 1px;
    border-radius: 0px;
    font-style: bold;
    font-size: 32px;
    width: 48px;
    height: auto;
    margin: auto 16px;
}

.owner-data {
    box-shadow: 0px 0px 19px -8px rgba(50, 57, 62, 1);
    margin: 2vw auto;
    padding: 0px;
    width: 50vw;
}

.main-form-labels {
    float: right;
}

#buy {
    float: right;
}

#clean {
    float: right;
}

#name {
    width: 100%;
}

.form-row {
    margin: 16px auto;
}

#alert {
    text-align: center;
    color: red;
    font-style: bold;
    font-size: 48px;
}

/* Summary */
h1 {
    text-align: center;
}

h4 {
    text-align: center;
    margin-top: 32px;
}

.final-chosen-car {
    text-align: center;
    margin-top: 200px;
    margin-bottom: 200px;
}


@media (max-width: 600px) {
    ul.nav-right, .logo {
        display: none;
    }

    .navbar-toggler {
        position: absolute;
        right: 10%;
    }

    #navbarToggler {
        margin-top: 20px;
    }

    .owner-data {
        width: 80vw;
    }
}